---
layout: content_page
title: Horários
---

    <section id="middle" class="light_section last_content_section">
        <div class="container">
            <div class="row">
                 <header class="section_header text-center">
                    <h2>TURMAS REGULARES</h2>
                </header>
            </div>            
            <div class="row">
                <div class="text-center filters col-sm-12">
                    <ul id="timetable_filter">
                        <li><a class="selected" data-filter="all" href="#" id="all_filters">Todas</a></li>
                        <li><a data-filter=".danca-salao" href="#" class="">Dança de Salão Iniciado</a></li>
                        <li><a data-filter=".danca-salao-int" href="#" class="">Dança de Salão Iniciante</a></li>
                        <li><a data-filter=".danca-salao-inter" href="#" class="">Dança de Salão Intermediário</a></li>
                        <li><a data-filter=".zouk-ini" href="#" class="">Zouk Iniciante</a></li>
                        <li><a data-filter=".zouk-inter" href="#" class="">Zouk Intermediário</a></li>
                        <li><a data-filter=".samba-zouk" href="#" class="">Zouk &amp; Samba Iniciante</a></li>
                        <li><a data-filter=".samba" href="#" class="">Samba Iniciante</a></li>
                        <li><a data-filter=".samba-inter" href="#" class="">Samba Intermediário</a></li>
                        <li><a data-filter=".samba-bole" href="#" class="">Samba &amp; Bolero Intermediário</a></li>
                        <li><a data-filter=".forro-samba" href="#" class="">Forro &amp; Samba Iniciante</a></li>
                        <li><a data-filter=".forro-sert-ini" href="#" class="">Forro &amp; Sertanejo Iniciante</a></li>
                        <li><a data-filter=".salsa-bachata" href="#" class="">Salsa &amp; Bachata Iniciante</a></li>
                        <li><a data-filter=".bachata" href="#" class="">Bachata Iniciado</a></li>
                        <li><a data-filter=".ballet-adulto" href="#" class="">Ballet Adulto</a></li>
                        <li><a data-filter=".tango-int" href="#" class="">Tango Iniciado</a></li>
                        <li><a data-filter=".fitdance" href="#" class="">Fitdance</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                    <table class="table table-striped table-bordered timetable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Segunda</th>
                                <th>Terça</th>
                                <th>Quarta</th>
                                <th>Quinta</th>
                                <th>Sábado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in site.data.schedule %}
                                <tr>
                                    <th>{{ entry.schedule }}</th>

                                  {% for dance in entry.dances %}
                                    
                                        <td>
                                            {% unless dance.name == null %}
                                            <a href="{% unless dance.baseurl == '#' %}cursos/{% endunless %}{{ dance.baseurl }}" class="{{ dance.class }}">
                                                {{ dance.name }}
                                            </a>
                                            {% endunless %}
                                            {% if dance.name2 %}
                                                <a href="{% unless dance.baseurl2 == '#' %}cursos/{% endunless %}{{ dance.baseurl2 }}" class="{{ dance.class2 }}">
                                                {{ dance.name2 }}
                                                </a>
                                            {% endif %}
                                            {% if dance.name3 %}
                                                <a href="{% unless dance.baseurl3 == '#' %}cursos/{% endunless %}{{ dance.baseurl3 }}" class="{{ dance.class3 }}">
                                                    {{ dance.name3 }}
                                                </a>
                                            {% endif %}
                                            {% if dance.name4 %}
                                                <a href="{% unless dance.baseurl4 == '#' %}cursos/{% endunless %}{{ dance.baseurl4 }}" class="{{ dance.class4 }}">
                                                    {{ dance.name4 }}
                                                </a>
                                            {% endif %}
                                        </td>

                                    
                                  {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>    
            </div>
        </div>
    </section>