<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>
                  <strong>© Compassos - Stúdio de Dança - 2017 </strong>

                  • Telefone:<a class="link-footer" href="tel:(62) 3286 - 7624"><strong> (62) 3286 - 7624</strong></a>

                  • Email: <strong><a class="link-footer" href="mailto:studiocompassos@hotmail.com">studiocompassos@hotmail.com</a></strong>
                </p>
            </div>                
        </div>
    </div>
</footer>