<footer id="footer" class="dark_section">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-6 widget widget_flickr to_animate">
                <h3 class="widget-title">Flickr Widget</h3>
                <ul id="flickr"></ul>
            </div>

            
            <div class="col-md-3 col-sm-6 widget widget_recent_entries to_animate">
                <h3 class="widget-title">useful links</h3>                    
                <ul>
                    <li>
                        <a href="#">Lorem Ipsum is simply</a>
                    </li>
                    <li>
                        <a href="#">Lorem Ipsum is simply</a>
                    </li>
                    <li>
                        <a href="#">Lorem Ipsum is simply</a>
                    </li> 
                    <li>
                        <a href="#">Lorem Ipsum is simply</a>
                    </li> 
                    <li>
                        <a href="#">Lorem Ipsum is simply</a>
                    </li>

                </ul>
            </div>                          

            <div class="col-md-3 col-sm-6 widget widget_popular_entries  to_animate">
            <h3 class="widget-title">Popular Posts</h3>

            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="blog-single.html">
                        <img class="media-object" src="example/recent_post1.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <p class="media-heading">
                            <a href="blog-single.html">Lorem Ipsum Dolor Sit Amet</a>
                        </p>
                        <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p class="post-date">December 1, 2014</p>
                    </div>
                </li>
                
                <li class="media">
                    <a class="pull-left" href="blog-single.html">
                        <img class="media-object" src="example/recent_post2.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <p class="media-heading">
                            <a href="blog-single.html">Lorem Ipsum Dolor Sit Amet</a>
                        </p>
                        <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p class="post-date">December 12, 2014</p>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="blog-single.html">
                        <img class="media-object" src="example/recent_post3.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <p class="media-heading">
                            <a href="blog-single.html">Lorem Ipsum Dolor Sit Amet</a>
                        </p>
                        <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p class="post-date">December 26, 2014</p>
                    </div>
                </li>                        
            </ul>   
        </div>  

            <div class="col-md-3 col-sm-6 to_animate">
                <div class="widget widget_archive">
                    <h3 class="widget-title">recent post</h3>
                    <ul>
                        <li>
                            <a href="#">Lorem ipsum dolor sit</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum dolor sit</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum dolor sit</a>
                        </li> 
                         <li>
                            <a href="#">Lorem ipsum dolor sit</a>
                        </li> 
                        <li>
                            <a href="#">Lorem ipsum dolor sit</a>
                        </li>                                                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>