<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"> 
                <a class="navbar-brand text-center" href="/index.html"><img id="logo" src="/img/Logo_Compasso_Vermelho.png" alt="Compassos Logo"></a>                 
                <span id="toggle_mobile_menu"></span>
                <nav id="mainmenu_wrapper">
                    <ul id="mainmenu" class="nav sf-menu">
                        <li>
                            <a href="/index.html">Principal</a>
                        </li>
                        <li>
                            <a href="/sobre.html">Sobre nós</a>                                        
                        </li>                            
                        <li>
                            <a>Cursos</a>
                            <ul>
                                <li>
                                    <a href="/cursos/forro.html">Forró</a>                                        
                                </li>
                                 <li>
                                    <a href="/cursos/samba.html">Samba</a>                                        
                                </li>
                                 <li>
                                    <a href="/cursos/zouk.html">Zouk</a>                                        
                                </li>
                                 <li>
                                    <a href="/cursos/bachata.html">Bachata</a>                                        
                                </li>
                                 <li>
                                    <a href="/cursos/soltinho.html">Soltinho</a>                                        
                                </li>
                                 <li>
                                    <a href="/cursos/samba_de_gafieira.html">Samba de gafieira</a>                                        
                                </li>
                                <li>
                                    <a href="/cursos/tango.html">Tango</a>                                        
                                </li>
                                <li>
                                    <a href="/cursos/danca_de_salao.html">Dança de Salão</a>
                                </li>
                                <li>
                                    <a href="/cursos/ritmos_latinos.html">Ritmos latinos</a>
                                </li>
                                <li>
                                    <a href="/cursos/salsa.html">Salsa</a>
                                </li>
                                
                            </ul>
                        </li> 
                        <li>
                            <a href="/equipe.html">Equipe</a>                                
                        </li>
                        <li>
                            <a href="/horarios.html">Horários</a>                                
                        </li>                           
                        <li>
                            <a href="/galeria.html">Galeria</a>
                        </li>                        
                        <li>
                            <a href="/contato.html">Contato</a>
                        </li>
                    </ul>  
                </nav>
            
            </div>
        </div>
    </div>
</header>