---
layout: default
---

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="hs-line">{{ page.title }}</h1>
                <div class="hs-line-des">
                    TIME DE COREOGRAFOS INCRÍVEIS & ÓTIMAS PESSOAS
                </div>
            </div>
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs">
                    <a href="/">Principal</a>&nbsp;/&nbsp;<span>{{ page.title }}</span>
                </div>                
            </div>
        </div>
    </div>
</section>

{{ content }}